<%- include header %>
  	<div class="content" >
  		<div class="cell">
  			<div class="cell_author">
  				<a href="/about" title="About Jov and Ideas.">站内公告.</a>
  			</div>
  			<div class="cell_text" style="margin-bottom:20px;" title="在陌生的路口，我看着手机等绿灯，你牵着狗在雨中悠悠的走，这触痛了我的心...">
  				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  				怎么说呢，稍微有点迷茫，不管是ideas还是ominds，都不知所措了，是不是缺少了点什么？果然是的，连我自己都能感觉到，那么，缺什么呢？想不出来，需要自己去想一想了。<br>
  				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  				唉，还真是讽刺啊，当初言之拳拳，如今拖沓连连，对不起很多人～～～，写的东西也没有人看，真是失败，加上也很忙了，本来那一点点信心，都被摧残的所剩无几。但归根结底，还是自己的问题，耐心还是不足，这是做人的问题。<br>
  				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  				想把网站重新设计一次，加入一些非主流元素，让TA看起来更加奇怪，更加难以理解，这是我目前的想法，但是可能会花一段时间，希望大家能够继续关注。最主要的是能够支持，不然真的是没有动力啊！
  			</div>
  			<div class="cell_author">
  				<a href="/about" title="Contact us.">关于我们.</a>
  			</div>
  			<div class="cell_text" style="margin-bottom:20px;">
  				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  				本站CSDN文章地址：<a href="http://blog.csdn.net/joveth/article/category/1862915" style="color:green" title="有详细的本站搭建的说明">http://blog.csdn.net/joveth/article/category/1862915</a><br>
  				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  				本站WIKI文章地址：<a href="https://github.com/joveth/OMinds/wiki/_pages" style="color:green" title="有详细的本站搭建的说明">https://github.com/joveth/OMinds/wiki/_pages</a><br>
  				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  				本站GITHUB代码地址：<a href="https://github.com/joveth/OMinds" style="color:green" title="是源码啊">https://github.com/joveth/OMinds</a><br>
  			</div>
  			<div class="cell_author">
  				<a href="/about" title="Join us.">加入我们.</a>
  			</div>
  			<div class="cell_text" style="margin-bottom:20px;">
  				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  				<span style="color: #9b8878;">官方QQ群:158325682</span>、<span style="color: #9b8878;">邮箱:ominds@163.com</span>、<span style="color: #9b8878;">QQ:247911950</span>
  			</div>
  		</div>
  	</div>
<%- include footer %>
