<%- include header %>
  	<div class="content" >
  		<div class="cell">
  			<div class="cell_author">
  				<a href="/" title="密码找回">密码找回</a>
  			</div>
  			<div class="cell_text" style="margin-bottom:20px;">
  				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  				已向您的邮箱（<%= email %>）发送密码找回邮件，请确认。
  			</div>
  		</div>
  	</div>
<%- include footer %>
