
body{
	margin: 0 auto;
	padding: 0;
	background: url(../images/bgnoise_lg.png) repeat left top;
	font: 14px "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
	background-attachment:fixed;
}
ul {
	list-style: none;	
}
a {
	text-decoration: none;
	color: #000;
}
#navigation {
	margin: 20px auto;	
	text-transform: uppercase;
	color: #444;
	font: bold 12px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#navigation:after {
	clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

#navigation ul {	
	 margin: 0 auto;
	 padding:0;
}

#navigation li {
	float: left;
	border-style: solid; 
	border-width: 1px;
    border-color: #BABABA #BABABA #BABABA #FFF;
	box-shadow: 0 1px rgba(255,255,255,1) inset;
	-webkit-box-shadow: 0 1px rgba(255,255,255,1) inset;
	background: #F7F7F7; /* Old browsers */
	background: -moz-linear-gradient(top, #F7F7F7 0%, #EDEDED 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F7F7F7), color-stop(100%,#EDEDED)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #F7F7F7 0%,#EDEDED 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #F7F7F7 0%,#EDEDED 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #F7F7F7 0%,#EDEDED 100%); /* IE10+ */
	background: linear-gradient(top, #F7F7F7 0%,#EDEDED 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7F7F7', endColorstr='#EDEDED',GradientType=0 ); /* IE6-9 */	
}

#navigation li:hover, #navigation li.current {
	box-shadow: 0 1px rgba(255,255,255,0.2) inset;
	-webkit-box-shadow: 0 1px rgba(255,255,255,0.2) inset;
	border-color: #262626 !important;
	background: #4D4D4D; /* Old browsers */
	background: -moz-linear-gradient(top, #4D4D4D 0%, #262626 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4D4D4D), color-stop(100%,#262626)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4D4D4D 0%,#262626 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4D4D4D 0%,#262626 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4D4D4D 0%,#262626 100%); /* IE10+ */
	background: linear-gradient(top, #4D4D4D 0%,#262626 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4D4D4D', endColorstr='#262626',GradientType=0 ); /* IE6-9 */
}

#navigation a {
	display: block;
	padding: 10px 15px;
	color: #444;
	text-decoration: none;
	text-shadow: 0 1px #FFF;
}

#navigation a:hover, #navigation li.current a {
	color: #FFF;
	text-shadow: 0 1px #000;
}

#navigation li:first-child {
	border-left-color: #BABABA;
	border-radius: 100px 0 0 100px;
}

#navigation li:last-child {
	border-radius: 0 100px 100px 0;
}
.content {
	max-width: 690px;
	margin: 20px auto;
}
.cell {
	margin: 0 auto;
	background-color: #fff;
	clear: both;
	padding: 18px 20px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	margin-bottom: 20px;
	border-radius: 8px;
}
.cell_loc{
	float:right;
	padding:2px 6px;
	background:url(../images/bgnoise_lg.png);
	border-radius: 9px;
	border-color: #BABABA #BABABA #BABABA #FFF;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset,
				0 0 0 1px rgba(0, 0, 0, 0.2) inset;
	font-size:14px;
}
.cell_author {
	font-size: 14px;
	vertical-align: middle;
	line-height: 100%;
	margin: 0 0 20px;
}

.cell_author img {
	border-radius: 20px;
	box-shadow: 0 0 6px hsla(0, 27%, 42%, .5);
	width: 40px;
	height: 40px;
	max-width: 100%;
	vertical-align: middle;
	margin: 0 10px 0 0;
	border: 0;
}
.cell_author img:hover{
	box-shadow: 0 0 8px hsla(350, 89%, 48%, 0.69);
}
.cell_author a {
	color: #9b8878;
}

.cell_author a:hover {
	color: #300;
}

.cell_text {
	word-break: break-all;
	line-height: 160%;
}

.cell_bar {
	margin: 15px 0 0 0;
	height: 30px;
	font-size: 12px;
}

.cell_bar ul li {
	float: left;
}

.cell_bar ul li a {
	display: block;
	height: 28px;
	line-height: 30px;
	margin-right: 10px;
	text-indent: 20px;
	color: #BEBEBE;
	width: 80px;
	font-weight: 500;
}

.cell_bar ul li a:hover {
	color: #9e8c7b;
}

.cell_bar_comm {
	float: right;
	margin: 0;
	padding: 0;
}

.cell_bar_comm li {
	float: left;
}

.cell_share {
	float: right;
}
.share_icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	overflow: hidden;
	background: url(../images/share_logo.png) no-repeat;
}
.share_sn {
	float: right;
	margin-right: 5px;
	background-position: -50px 0px;
}
.share_tc {
	float: right;
	margin-right: 15px;
	background-position: -100px 0px;
}
.share_rr {
	float: right;
	margin-right: 5px;
	background-position: -150px 0px;
}
.upideas_content {
	position: relative;
	width: 690px;
	margin: 0 auto;
}

.clear_fix {
	display: block;
}

.clear_fix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.up_content {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	background: #fff;
	padding: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	display: block;
	border-radius: 4px;
}

.up_bar {
	color: #666;
	width: 200px;
	float: right;
}

.up_bar h3 {
	font-size: 16px;
	padding: 0 0 20px 0;
	margin: 0;
}

.up_bar ol li {
	padding: 15px 0;
	border-top: 1px solid #efefef;
	list-style-position: inside;
	list-style-type: decimal;
	line-height: 140%;
}

.up_content_text {
	width: 422px;
	float: left;
}

.up_idea_text {
	box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
	border: 1px solid #ccc;
	background: #f9f9f9;
	font-size: 14px;
	line-height: 18px;
	padding: 10px;
	resize: none;
	width: 400px;
}
.up_idea_err{
	float: left;
	color:#FF0000;
	padding: 10px 0 0 0;
}
.up_idea_btn {
	border-radius: 2px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	background: #FF8000;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	padding: 10px 20px 10px 20px;
	border: 0 none;
	float: right;
}
.searck_input{
	padding: 7px 9px;
	border-radius: 0 100px 100px 0;
<<<<<<< HEAD
	width:140px;
=======
>>>>>>> a7a910ac03504fb30b9b734e647f44533c929032
}
input.searck_input:focus{
	outline:none;
}

.form-login {
	background: #fff;
	right: 0px;
	margin: 0px auto;	
	margin-top:40px;
	width: 400px;
}
.header {
	background: #e84c3d;
	text-align:center;
	font-size:18px;
	padding:20px 25px;
	color:#4d4d4d;
}
.inputs {
	margin-top:10px;
	color:#4d4d4d;
}
.inputs input[type="text"], .inputs [type="password"], .inputs [type="email"] {
	width:340px;
	height:45px;
	background:url(../images/bgnoise_lg.png) repeat left top;
	color:#4d4d4d;
	font-size:16px;
	margin-top:15px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border:0;
	margin-left:20px;
	padding:0px 10px;
}
.inputs input[type="text"]:hover, .inputs input[type="text"]:focus,.inputs [type="password"]:hover, .inputs [type="password"]:focus,.inputs [type="email"] :hover,.inputs [type="email"] :focus{
	outline:none;	
}
.link-2 {
	float:right;
	margin-top:15px;
	margin-right:20px;
}
.link-2 a, .link-2 a:hover {
	color:#4d4d4d;
}
.link-2 a:hover {
	text-decoration:none;
}

.button-login input[type="button"] {
	width:360px;
	height:55px;
	margin-left:20px;
	margin-top:25px;
	margin-bottom:40px;
	font-size:18px;
	font-weight:bold;
	text-transform:uppercase;
	outline: none;
	position: relative;
	cursor: pointer;
	border-radius: 5px;
	color: #fff;
	border:0;
	background: #e84c3d;
}
.button-login input[type="button"]:hover { opacity:0.9; }
.button-login input[type="button"]:active {
	top: 3px;
	background: #e84c3d;
	box-shadow: inset 0 1px 2px #ba3c30;
}
.user_icon{
	clear:both;
}
.user_icon img {
	border-radius: 20px;
	box-shadow: 0 0 6px hsla(0, 27%, 42%, .5);
	width: 40px;
	height: 40px;
	max-width: 100%;
	vertical-align: middle;
	margin: 3px 10px 0 0;
	border: 0;
}
.user_icon img:hover{
	box-shadow: 0 0 8px hsla(350, 89%, 48%, 0.69);
}
.commphoto{
	border-radius: 20px;
	box-shadow: 0 0 6px hsla(0, 27%, 42%, .5);
	width: 40px;
	height: 40px;
	max-width: 100%;
	vertical-align: middle;
	border: 0;
	margin: 0 auto;
}
img.commphoto:hover{
	box-shadow: 0 0 8px hsla(350, 89%, 48%, 0.69);
	cursor:pointer;
}
.imgmid{display:inline-block;*display:inline;*zoom:1;height:100%;width:1px;margin-left:-1px;vertical-align:middle}
.comm{
	float:right;
	margin:0 -38px 0 10px;
	background: url(../images/bgnoise_lg.png);
	width:50px;
	height:50px;
	text-align:center;
	border-radius: 25px;
}
button.up_idea_btn:hover{
	cursor:pointer;
}
.unav-main{
    max-width: 690px;
	margin: 20px auto;
	height:30px;
}
.unav-main a{
	display: block;
	height: 34px;
	opacity: 0.8;
	width: 34px;
	float:left;
	margin: 0 20px 20px 0;
}
.nav-home {
	background: url(../images/nav-home.png) no-repeat;
}
.nav-mind {
	background: url(../images/nav-mind.png) no-repeat;
}
.nav-mail {
	background: url(../images/nav-mail.png) no-repeat;
}
.nav-care {
	background: url(../images/nav-plus.png) no-repeat;
}
.nav-user {
	color:#fff;
}
.uc-main{
    max-width: 690px;
    border: solid 1px #111111;
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.2);
	background: url(../images/bgnoise_lg.png) repeat left top;
	border-radius: 10px;
	margin-bottom:20px;
}
